
.GameBoard {
    width: 600px;
    height: 600px;
    border: solid black 4px;
    margin: 0 auto 0;
    display: flex;
    flex-wrap: wrap;
}

.Square {
    width: 200px;
    height: 200px;
    border: solid black 2px;
    align-items: center;
    box-sizing: border-box;
    font-size: 250%;
}